  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 
body {
    background-color: #d9dcd6;
}

/* Moved element above class (a) */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Moved element above class (p) */
p {
    font-size: 16px;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    /* Added overflow property so navigation links don't go down into the image at reduced window space */
    overflow: hidden;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/* changed element to match changes done to html (nav) */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    /* Changed margin to percentage so content and benefits can display correctly in a smaller window */
    margin-right: 2%;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* Made background a smidge darker to improve font contrast */
    background-color: #167bb1;
    /* Added overlfow property for a scroll bar if box becomes too narrow*/
    overflow: auto;
}

/* Combined classes with same property values */
.benefit-cost,
.benefit-brand,
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Combined classes with same property values */
.benefit-cost h3,
.benefit-brand h3,
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Combined classes with same property values */
.benefit-cost img,
.benefit-brand img,
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
 /* moved so its above the classes inside of it in the html */
.content {
    width: 75%;
    display: inline-block;
/* Changed margin to percentage so content and benefits can display correctly in a smaller window */
    margin-left: 2%;
    height: 100%;
}

/* Combined classes with same property values */
.social-media-marketing,
.online-reputation-management,
.search-engine-optimization {
    /* Changed height to percentage so that the three boxes and two margins in between them take up 100% of space as evenly as possible */
    margin-bottom: 20px;
    padding: 50px;
    /* Changed height to percentage so the box will increase if the viewport is reduced */
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    overflow: hidden;
}

/* Combined classes with same property values */
.social-media-marketing img,
.online-reputation-management img,
.search-engine-optimization img {
    max-height: 200px;
}

/* Combined classes with same property values */
.social-media-marketing h2
.online-reputation-management h2
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


/* Uncomment to have a scrolling backdrop and header */
/* .header{
    position: fixed;
    width: 100%;
}

.hero{
    position: fixed;
    z-index: -1;
}

.benefits,
.content{
    margin-top: 830px;
} */